<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> SAGI </title>
		<link rel="icon" href="/html_css_javaspring/resource/img/logo/logo_fapicon.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="newitem_list.css?after" type="text/css">
		<link rel="stylesheet" href="/html_css_javaspring/resource/css/header.css?after" type="text/css">
		<link rel="stylesheet" href="/html_css_javaspring/resource/css/menu_bar.css?after" type="text/css">
		<link rel="stylesheet" href="/html_css_javaspring/resource/css/footer.css?after" type="text/css">
		<script type="text/javascript">
			const gotoHome = () => {
				location.href = "/html_css_javaspring/index.html";
			}

			let change = true;
			
			const gliter = (badge) => {
				if(change){
					for(let i = 0 ; i < badge.length; i++){
						badge[i].classList.remove('badge-secondary');
					}
					change = false;
				}else{
					for(let i = 0 ; i < badge.length; i++){
						badge[i].classList.add('badge-secondary');
					}
					change = true;
				}	
			};
			
			const start = () => {
				setInterval(gliter, 250, document.getElementsByClassName("badge"));
			}
		</script>
	</head>
	
	<body onload="start()">
		<div id="mySidenav" class="sidenav">
			<a class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#">Review</a>
			<a href="/html_css_javaspring/board/qna_board/qna.html">QnA</a>
		</div>
		
		<header onclick="gotoHome()" style="color:white">
			<img id="sagi_logo" src="/html_css_javaspring/resource/img/logo/logo_white.png">
			SAGI</header>
		
		<div id="wrapper">
			<nav class="navbar navbar-expand-sm bg-light sticky-top">
              <i id="barIcon" onclick="fun1()" class="fas fa-bars"></i>
				<script type="text/javascript">
					const fun1 = () =>{
						document.getElementById("mySidenav").style.width = "250px";
					};
					
					const closeNav = () =>{
						document.getElementById("mySidenav").style.width = "0";
					};
				</script>
              <ul class="navbar-nav mx-auto">
                				<li class="nav-item"><a class="nav-link"
					href="/html_css_javaspring/index.html">HOME</a></li>
				<li class="nav-item dropdown"><a class="nav-link dropbtn"
					href="/html_css_javaspring/item_list/default_itemlist/item_list.html">SHOP</a>
					<div class="dropdown-content">
						<a href="/html_css_javaspring/item_list/new_itemlist/newitem_list.html">NEW</a>
						<a href="/html_css_javaspring/item_list/best_itemlist/bestitem_list.html">BEST</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link" href="/html_css_javaspring/add/add.html">ADD</a></li>
				<li class="nav-item"><a class="nav-link" href="#">EDIT</a></li>
				<li class="nav-item"><a class="nav-link" href="#">DELETE</a></li>
              </ul>
              
              <div class="dropdown">
  				<div id="myDropdown" class="search-dropdown-content" >
    				<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
  				</div>
				<i onclick="searchBar()" id="mySearch" style="margin-right:30px" class="fas fa-search"></i>
			</div>
			
			<script type="text/javascript">
				let toggle = true;
				
				const searchBar = () =>{
					if(toggle){
						document.getElementById("myDropdown").style.display = "inline";
						toggle = !toggle;
					}else{
						document.getElementById("myDropdown").style.display = "none";
						toggle = !toggle;
					}
						
				};
	
			</script>
			<a style="margin-right:10px" href="/html_css_javaspring/login/login.html"><i class="fas fa-user"></i></a>
         </nav>	
			
			<div id="explainList">
				<div id="explainLeft">
					총 <b>16</b>개의 상품이 검색되었습니다.
				</div>
				<h3>신상품</h3>
				<ul class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="#">도자기</a></li>
					<li class="breadcrumb-item"><a href="#">식기</a></li>
					<li class="breadcrumb-item"><a href="#">유리그릇</a></li>
				</ul>
				
				<div id="explainRight">
					<ul>
						<li><a href="#">상품명</a></li>
						<li><a href="#">높은가격순</a></li>
						<li><a href="#">낮은가격순</a></li>
					</ul>
				</div>
			</div>
			<div id="row">
				<div class="column">
					<!-- 모든 태그에 a태그 추가하기 -->
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<img src= "/html_css_javaspring/resource/img/new/img01-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img01-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b><b>가격: 25,000</b></b></p>
				</div> 
				<div class="column">
					<a href = "/html_css_javaspring/item_detail/product02.html">
						<img src= "/html_css_javaspring/resource/img/new/img02-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img02-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "/html_css_javaspring/item_detail/product03.html">
						<img src= "/html_css_javaspring/resource/img/new/img03-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img03-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "/html_css_javaspring/item_detail/product04.html">
						<img src= "/html_css_javaspring/resource/img/new/img04-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img04-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img05-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img05-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img06-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img06-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img07-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img07-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> <div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img08-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img08-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img09-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img09-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> <div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img10-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img10-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> <div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img11-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img11-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img12-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img12-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img13-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img13-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img14-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img14-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img15-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img15-2.jpg" class="img-top" >	
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
				<div class="column">
					<a href = "html/product.html">
						<img src= "/html_css_javaspring/resource/img/new/img16-1.jpg" class="img-bottom">
						<img src= "/html_css_javaspring/resource/img/new/img16-2.jpg" class="img-top" >
					</a>
					<a href = "/html_css_javaspring/item_detail/product01.html">
						<span class="badge badge-secondary">New</span>
						이름이름이름
					</a>
					<p><b>가격: 25,000</b></p>
				</div> 
			</div> <!-- row -->
		
			<!-- page number navigation -->
			<ul class="pagination justify-content-center">
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
			    <li class="page-item active"><a class="page-link" href="javascript:void(0); ">1</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">6</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">7</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">8</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">9</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">10</a></li>
			    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
  			</ul>
  			
			<footer>
				<div id="left">
					Copyright ⓒ 신은빈 원지영 이영준. All rights reserved.
					<br/>designed by EB SHIN, JY WON, YJ LEE 
				</div>
				<div id="right">
					(우)05717<br/>
					  서울특별시 송파구 중대로 135 12층 
				</div>
			</footer>
		</div>
	</body>
</html>