		* {
			box-sizing: border-box;
		}
		
		/*��� ��ũ �±� �⺻ ����*/
		body{
            min-width: 1700px;
            min-height: 900px;
      	}
		
		a{
			color: black;
			text-decoration: none;
		}
		
		a:visited{
			color: black;
			text-decoration: none;
		}

		#wrapper{
        	text-align:center;
        }
        
        #wrapper h3{
			margin-top: 100px;
		}

		#table_container{
			margin: 100px auto;
			flex: 1;
			width: 60%;
		}
	    
	    #article_table{
	    	text-align: left;
	    	font-size:10pt;
	    }
	    
	    #article_table tr td{
	    	padding-left: 20px;
	    }
	    
	    #btnContainer{
	    	text-align: left;
	    	height: 100px;
	    	margin: 100px auto;
	    	border-bottom: 1px solid rgb(222,222,222);
	    	border-top: 1px solid rgb(222,222,222);
	    	padding-top:30px;
	    	padding-left: 20px;
	    }
	    
	    #selectedItem{
	    	height: 180px;
	    	width: 100%;
	    	padding: 20px;
	    	margin: 20px;
	    	border: 2px solid rgb(242,242,242);
	    }
	    
	     #desc_container div{
	        margin-top: 10px;
	        margin-left: 10px;
	    }