		* {
			box-sizing: border-box;
		}
		
		a{
			color: black;
			text-decoration: none;
		}
		
		a:visited{
			color: black;
			text-decoration: none;
		}
		
		#wrapper{
			display:flex;
			flex-direction: column;
		}
		
		section {
			background-color: white;
			display: block;
			float: left;
			box-sizing: border-box;
			padding-top: 60px;
			padding-left: 15%;
			display: flex;
			flex-direction: row;
		}
		.img {
			flex: 4;
			box-sizing: border-box;
			display: inline-block;
		}
		.info {
			font-size: 23px;
			background-color: white;
			flex: 8;
			text-align: center;
			box-sizing: border-box;
			display: inline-block;
			margin-top: 7%;
			margin-left: 10%;
			margin-right: 15%;
			}
		.Button{
			display: flex;
			justify-content: space-around;
			border-radius: 10px;
			padding: 2px;
		}
		#b1:link, #b1:visited{
			margin: 10px;
			color: black;
			background-color: #ced4da;
			flex: 3;
			font-size: 24px;
  			padding: 14px 25px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			border-radius: 15px;
		}
		#b1:hover, #b1:active {
  			background-color: #ffc9c9;
		}
		#b2{
			margin: 10px;
			color: black;
			background-color: #e9ecef;
			flex: 2;
			font-size: 24px;
  			padding: 14px 25px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			border-radius: 15px;
			
		}
		#b2:hover, #b2:active {
  			background-color: #ffc9c9;
		}
		#b3{
			margin: 10px;
			color: black;
			background-color: #f1f3f5;
			flex: 1;
			font-size: 24px;
  			padding: 14px 25px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			border-radius: 15px;
		}
		#b3:hover, #b3:active {
  			background-color: #ffc9c9;
		}
		
		article {
			float: left;
			background-color: white;
			display: inline-block;
			margin-top: 3%;
			margin-left: 15%;
			margin-right: 15%;
			text-align: center;
		}
				
		#row {
			text-align: center;
		}
		
		.txt {
			margin: 50px;
			font-size: 20px;
			text-align: center;
		}