		* {
			box-sizing: border-box;
		}
		
		/*ï¿½ï¿½ï¿½ ï¿½ï¿½Å© ï¿½Â±ï¿½ ï¿½âº» ï¿½ï¿½ï¿½ï¿½*/
		body{
            min-width: 1700px;
            min-height: 900px;
      	}
		
		a{
			color: black;
			text-decoration: none;
		}
		
		a:visited{
			color: black;
			text-decoration: none;
		}

		#wrapper{
        	text-align:center;
        }

		#wrapper h3{
			margin-top: 100px;
		}

		#table_container{
			margin: 100px auto;
			flex: 1;
			width: 70%;
		}
		
		#table_container th{
			padding-left: 20px;
		}

		#table_container td{
			padding-left: 20px;
		}
		
	    #table_container td a:hover{
			color:gray;
		}
	    
	    #boardTable{
	    	text-align:left;
	    }
	    
	    #btnContainer{
	    	text-align:right;
	    }
	    
	    #submitBtn{
	    	margin-right: 200px;
	    	width: 100px;
	    }
	    
	    .pagination > .active > a{
		    color: white;
		    background-color: #1F4948 !Important;
		    border: solid 1px #1F4948 !Important;
		}
		
	    /*pagination*/
	    .pagination{
	    	margin-top: 50px; 
	    }
	    
	    .pagination > li > a{
		    color: black;
		}
